$ok-primary-color: #009688;
$dark-primary-color: #00796B;
$light-primary-color: #B2DFDB;
$text-icons-color: #FFFF;
$accent-color: #FF9600;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$shadow-color: rgba(44, 43, 43, 0.487);
$dark-shadow-color: rgba(35, 28, 28, 0.394);
$dark-primary-color-shadow: #00796b64;
