.ContenedorAcordeon {
  width: 65%;
  max-width: 1200px;
  padding: 20px;
  background-color: #B2DFDB;
  border: 1px solid #BDBDBD;
  margin-right: 20px;
  border-radius: 15px;
  /*BOTON ACORDEON*/
  /*HEADER ACORDION ITEM*/
}
.ContenedorAcordeon h2 {
  color: #212121;
  margin-top: 0px;
  padding: 10px;
}
.ContenedorAcordeon .acordeon-texto {
  color: #212121;
  background-color: white;
}
.ContenedorAcordeon .AcordeonItem {
  border-top: none;
  border-bottom: none;
}
.ContenedorAcordeon .AcordeonItem:nth-child(2) {
  border-radius: 10px 10px 0px 0px;
}
.ContenedorAcordeon .AcordeonItem:nth-child(6) {
  border-radius: 0px 0px 10px 10px;
}
.ContenedorAcordeon .accordion-button {
  --bs-accordion-active-bg:white;
  --bs-accordion-btn-focus-border-color:white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.ContenedorAcordeon .accordion-button:focus {
  --bs-accordion-active-bg:white;
  --bs-accordion-btn-focus-border-color:white;
  --bs-accordion-btn-focus-box-shadow: white;
}
.ContenedorAcordeon .accordion-button:active {
  --bs-accordion-active-color: #00796B;
}
.ContenedorAcordeon .accordion-header {
  --bs-accordion-btn-color:#757575;
  --bs-accordion-active-color: #FF9600;
  font-weight: 600;
  padding-bottom: 0px;
}
.ContenedorAcordeon .accordion-header:focus {
  --bs-accordion-active-bg:white;
  padding-bottom: 0px;
}
.ContenedorAcordeon .accordion-header:active {
  padding-bottom: 0px;
}

@media screen and (max-width: 425px) {
  .ContenedorAcordeon {
    width: 95%;
    padding: 0px;
    background-color: white;
    border: 1px solid #E3E3E3;
    margin-right: 0px;
    overflow: scroll;
  }
  .ContenedorAcordeon .accordion-button {
    font-size: 1rem;
  }
}
