.styleCarrousel {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.styleCarrousel .styleItem {
  object-fit: "contain";
}
.styleCarrousel .imagenesCarousel {
  object-fit: cover;
  max-block-size: 100vh;
  border-bottom: 2px #BDBDBD solid;
}
