header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:stretch;
    border-bottom: 1px solid rgb(12, 12, 11);
}
nav ul{
    display: flex;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    background-color: green;
    list-style: none;
}
nav li{
    margin: 15px;
    padding: 1rem;
    background-color: orangered;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}