.Home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: green;
    height: 100vh;
}

h1{
    background-color: aqua;
}

.Cards{
    display: flex;
    flex-direction: row;
    background-color: bisque;
}