.Info{
    padding-top: 20vh;
    align-items: flex-start;
    background-color: #ffffff;
    height: 100vh;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.Row{
    width: 100vw;
    height: 80vh;
}
.Col1{
    background-color: orangered;
    max-width: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.Col3{
    text-align: initial;
    margin-top: 180px;
    padding: 20px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.TitleColor{
    color: orange;
}
p{
    text-align:left;
}