.Info {
  align-items: flex-start;
  background-color: #ffffff;
}
.Info .container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}
.Info .rowInfo {
  width: 100vw;
  height: 80vh;
}
.Info .columnaColor {
  background-color: #009688;
  max-width: 30px;
  margin-bottom: 200px;
}
.Info .columnaTexto {
  text-align: initial;
  padding: 20px;
}
.Info h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Info .segundoTitle {
  color: #00796B;
}
.Info .pInfo {
  text-align: left;
  color: #009688;
}
