.contenedor-seccion-producto {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #B2DFDB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-seccion-producto .detalles-productos {
  display: none;
}

@media screen and (max-width: 425px) {
  .contenedor-seccion-producto {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contenedor-seccion-producto .detalles-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-evenly;
  }
  .contenedor-seccion-producto .detalles-productos .detalles-productos-text {
    display: flex;
  }
  .contenedor-seccion-producto .detalles-productos .detalles-productos-text .box-icon-text {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-seccion-producto .detalles-productos .detalles-productos-text .box-icon-text .detalle-producto-icons {
    font-size: 30px;
  }
  .contenedor-seccion-producto .detalles-productos .detalles-productos-text span {
    width: 80%;
  }
}
