.pyr {
  display: flex;
  justify-content: center;
  align-items: center;
  *background-image: url(../statics/preguntas.webp);
  *background-repeat: no-repeat;
  *background-position: right;
  height: 100vh;
  width: 100vw;
}
