.Welcome{
    margin: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.container{
    padding: 20%;
}

.row{
    margin: 50px;
    text-align: left;
}

