@import './variables/colores';

.styleCarrousel{
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    

    .styleItem{
    object-fit:contain;
    
    }

    .imagenesCarousel{
        object-fit: cover;
        max-block-size: 100vh;
        min-height: 100vh;
        border-bottom: 1px $divider-color solid;
    
    }
    .carousel-indicators button{
        background-color: $accent-color;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 5px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: $light-primary-color;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        &:hover {
            background-color: $dark-primary-color;
            border-color: $light-primary-color;
            box-shadow: rgb(42, 42, 42) 0px 0px 5px 2px;
        }
}
   
    }



    

@media screen and (max-width: 768px){
    
    .styleCarrousel{
        .imagenesCarousel{
            object-fit: cover;
            max-block-size: 100vh;
            border-bottom: 1px $divider-color solid;
        }
    }
    
}


@media screen and (max-width: 425px){
    .styleCarrousel{
        width: 100vw;
        height: 50vh;
        .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 1rem;
        height: 1rem;
        }
    }
    

}