@import 'mixins/animaciones.scss';

nav {
    background-color: orange;
    border:grey solid 0.4rem;
     
    @include lightsaber(white); 
    @include transicionesConfig(.2s);
    ul {
        list-style: none;
        display: flex;
        text-align: justify;
        padding: 0.5rem;
    }
    li {
        padding: 1rem;
        &:hover {
            background-color: grey;
        }
    }
    a {
        text-decoration: none;
        color:$white;
        padding: 0.5rem;
    }
}