@import './variables/colores';
@import './variables/font';

footer {
    font-size: 16px;
    width: 100%;
    background-color: $dark-primary;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        margin: 0px;
        color: $text-icons;
    }
}