@import './variables/colores';

.Info{
    align-items: flex-start;
    background-color: $text-icons-color;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .container-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100vw;
    }
    
    .rowInfo{
        width: 100vw;
        *height: 80vh;
    }
    .columnaColor{
        background-color: $accent-color;
        max-width: 30px;
        *margin-bottom: 200px;
    }
    .columnaTexto{
        text-align: initial;
        padding: 20px;
    }
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .segundoTitle{
        color: $accent-color;
        font-weight: bold;
        margin-bottom: 50px;
        letter-spacing: -1px;
        font-size: 32px;
    }
    .primerTitle{
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 3px;
    }
    .pInfo{
        padding: 10px 0px;
        font-family: arial;
        text-align:left;
        color: $primary-text-color;
        font-size: 20px;
    }

    .colorAcento{
        color: $accent-color;
        font-weight: 600;
    }
}
 
@media screen and (max-width: 425px){
    .Info{
        min-height: 100vh;
        width: 100vw;
        
        .segundoTitle{
            margin-bottom: 20px;
            letter-spacing: 0px;
            font-size: 25px;
        }
        .primerTitle{
            font-size: 32px;
            letter-spacing: 2px;
        }
        .pInfo{
            padding: 5px 0px;
            font-size: 14px;
        }
    }
    
}

