@import './variables/colores';

.Info{
    align-items: flex-start;
    background-color: #ffffff;

    .container-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
    }
    
    .rowInfo{
        width: 100vw;
        height: 80vh;
    }
    .columnaColor{
        background-color: $ok-primary-color;
        max-width: 30px;
        margin-bottom: 200px;
    }
    .columnaTexto{
        text-align: initial;
        padding: 20px;
    }
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .segundoTitle{
        color: $dark-primary-color;
    }
    .pInfo{
        text-align:left;
        color: $ok-primary-color
    }
}

