@import './variables/colores';
@import './variables/font';
@import './mixins/animaciones';

/*
.navbar{
    width:100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    
    .navbar-collapse {
        display: flex;
        justify-content: space-between;
    

    .container{
        box-sizing: content-box;
        background-color: bisque;
        margin: 0px;
        padding: 0px;
    }

    .me-auto{
        background-color: aquamarine;
    }

    .nav-link{
        display: flex;
        justify-content: space-between;
        background-color: yellow;        
        margin: 30px;
        padding: 20px; 
        
    }   
    .aLink{
        padding: 8px;
        align-items: center;
        justify-content: center;
        &:hover {
            border-bottom: 3px salmon solid;
            font-weight: bold;
            color: $seconday-color;
            }
        }
}

}*/